html {
  --max-width: 1400px;
  --clr-primary: #5ece7b;
}

.container {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 5vmin 1rem;
  place-content: start;
}

header {
  display: flex;
  margin: 0 auto;
  max-width: var(--max-width);
  min-height: min(100px, 10vh);
  padding: 0 1rem;
}

header > * {
  align-items: center;
  display: flex;
  flex: 1 1 0;
}

nav {
  justify-content: flex-start;
}

.logo {
  justify-content: center;
}

nav ul {
  display: flex;
  height: 100%;
}

nav ul li a {
  align-items: center;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  display: flex;
  flex: 1 1 0;
  height: 100%;
  padding: 0 0.5rem;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover,
nav ul li a[aria-current="page"] {
  border-bottom: 2px solid var(--clr-primary);

  color: var(--clr-primary);
}

.header__ui {
  gap: 1rem;
  justify-content: flex-end;
}
